@model IEnumerable<MercDevs_ej2.Models.Recepcionequipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Recepcion De equipos</h1>

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-success">Crear Recepcion</a>
    </p>
    
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoPc)</th>
                    <th>@Html.DisplayNameFor(model => model.Accesorio)</th>
                    <th>@Html.DisplayNameFor(model => model.MarcaPc)</th>
                    <th>@Html.DisplayNameFor(model => model.ModeloPc)</th>
                    <th>N° Serie</th>
                    <th>Cap Ram</th>
                    <th>Tipo almacenamiento</th>
                    <th>Cap Almacenamiento</th>
                    <th>Tipo_Gpu</th>
                    <th>@Html.DisplayNameFor(model => model.Grafico)</th>
                   
                    <th>Id servicio</th>
                      <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoPc)</td>
                        <td>@Html.DisplayFor(modelItem => item.Accesorio)</td>
                        <td>@Html.DisplayFor(modelItem => item.MarcaPc)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModeloPc)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nserie)</td>
                        <td>@Html.DisplayFor(modelItem => item.CapacidadRam)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoAlmacenamiento)</td>
                        <td>@Html.DisplayFor(modelItem => item.CapacidadAlmacenamiento)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoGpu)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grafico)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                       
                        <td>@Html.DisplayFor(modelItem => item.IdServicio)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                            </div>
                        </td>

                          
                             
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay datos disponibles.</p>
    }
</div>
